#tagline {
  padding: .5em;
}

.post {
  margin-bottom: 20px;
  .module;
}

.post-title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #d77223;
}

.post-date-header {
  text-align: right;
  font-size: .8em;
  margin: 4px;
}
