pagination: true
paginate: 5
paginator.per_page: 5
pygments: true
permalink: pretty
exclude: ['Rakefile']

deploy:
  live:
    hostname: your_server
    username: your_username
    password: your_password
    repo_path: /path/to/your/repository
