---
layout: default
---

<section class="recent-posts">
  <h2>Recent Posts</h2>
  <ul>
  {% for post in site.posts %}
    <li class="post-listing">
      <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
      <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
      {% for category in post.categories %}
        <span class="post-tag">
          <a href="/tags#{{ category }}">{{category}}</a>
        </span>
      {% endfor %}
    </li>
  {% endfor %}
  </ul>
</section>

