---
layout: default
---
{% for tag in site.tags %}
  <section class="category-listing">
    {% assign tag_name = tag | first %}
    <h2 id="{{tag_name}}">
      <a href="#{{ tag_name }}">{{ tag_name }}</a>
    </h2>
    <ul>
    {% for posts in tag %}
      {% for post in posts %}
        {% if post.url %}
          <li class="post-listing">
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
            <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </section>
{% endfor %}

