<!DOCTYPE html PUBLIC "-//W3C/DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="ryan houston, homebrewing, software developer" />
    <meta name="description" content="Software development, homebrewing, and the life that happens in between" />

    <link rel="stylesheet" href="/css/blog.css" type="text/css"/>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <a href="/"><h1 id="logo">Ryan Houston</h1><img src="/images/houston_banner.jpg"/></a>
        <em>Software development, homebrewing, and life that happens in between.</em>

      </div>

      {% include sidebar.html %}

      {{ content }}

      <div class="clear"></div>
      <div id="footer">
        <p>&copy; 2011 Ryan Houston. All Rights Reserved.</p>
      </div>

    </div>
  </body>
</html>
