<!DOCTYPE html PUBLIC "-//W3C/DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="ryan houston, homebrewing, software developer" />
    <meta name="description" content="Software development, homebrewing, and the life that happens in between" />

    <link rel="stylesheet/less" href="/css/site.less" type="text/less"/>
    <script src="/js/less-1.1.5.min.js"></script>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
  </head>
  <body>
    <div id="container" class="container">
      <div id="header" class="row">
        <div class="row span16">
          <a href="/">
            <img src="/images/houston_banner3.png"/>
          </a>
        </div>
        <div id="tagline" class="row span16">
          <em>Software development, homebrewing, and life that happens in between.</em>
        </div>
      </div>

      <div class="row">
        {{ content }}

        {% include sidebar.html %}
      </div>

      <div id="footer" class="row">
        <div class="span16">
          <p>&copy; 2014 Ryan Houston. All Rights Reserved.</p>
        </div>
      </div>

    </div>
  </body>
</html>
