---
layout: post
---

<h3 class="brew-beerstyle">{{ page.beer.vitals.style }}</h3>
{% if page.beer.vitals %}
  <section class="brew-vitals">
    <h4>Vitals</h4>
    <div class="brew-batch-type">
      <dt>Batch Type</dt>
      <dd>{{ page.beer.vitals.type }}</dd>
    </div>

    <div class="brew-batch-size">
      <dt>Batch Size</dt>
      <dd>{{ page.beer.vitals.batch-size }}</dd>
    </div>

    <div class="brew-boil-size">
      <dt>Boil Size</dt>
      <dd>{{ page.beer.boil.pre-volume }}</dd>
    </div>

    <div class="brew-boil-length">
      <dt>Boil Length</dt>
      <dd>{{ page.beer.boil.length }}</dd>
    </div>

    <div class="brew-ibus">
      <dt>IBUs</dt>
      <dd>{{ page.beer.vitals.IBUs }}</dd>
    </div>

    <div class="brew-srm">
      <dt>SRM</dt>
      <dd>{{ page.beer.vitals.SRM }}</dd>
    </div>

    <div class="brew-expected-sg">
      <dt>Expected SG</dt>
      <dd>{{ page.beer.vitals.OG-target }} </dd>
    </div>

    <div class="brew-actual-sg">
      <dt>Actual SG</dt>
      <dd>{{ page.beer.vitals.OG-actual }}</dd>
    </div>

    <div class="brew-expected-fg">
      <dt>Expected FG</dt>
      <dd>{{ page.beer.vitals.FG-target }}</dd>
    </div>

    <div class="brew-actual-fg">
      <dt>Actual FG</dt>
      <dd>{{ page.beer.vitals.FG-actual }}</dd>
    </div>

    <div class="brew-actual-abv">
      <dt>Actual %ABV</dt>
      <dd>{{ page.beer.vitals.abv-actual }}</dd>
    </div>

  </section>
{% endif %}

{% if page.beer.mash %}
  <section class="brew-mash">
    <h3>Mash</h3>
    <h4>{{ page.beer.mash.description }}</h4>
    <dl>
      <dt class="label">Strike Water Volume</dt>
      <dd class="pull-right">{{ page.beer.mash.strike-volume }}</dd>

      <dt class="label">Target Mash Temperature</dt>
      <dd class="pull-right">{{ page.beer.mash.rest-temp-target }}</dd>

      <dt class="label">Strike Water Temperature</dt>
      <dd class="pull-right">{{ page.beer.mash.strike-temp }}</dd>

      <dt class="label">Actual Mash Temperature</dt>
      <dd class="pull-right">{{ page.beer.mash.rest-temp-actual }}</dd>
    <dl>
  </section>
{% endif %}

{% if page.beer.sparges %}
  <section class="brew-sparge">
  {% for round in page.beer.sparges %}
    <div class="brew-sparge-round">
      <h4>Sparge Round {{ forloop.index }}</h4>
      <dl>
        <dt>Sparge Volume</dt>
        <dd>{{ round.volume }}</dd>

        <dt>Sparge Temperature</dt>
        <dd>{{ round.temperature }}</dd>
      </dl>
    </div>
  {% endfor %}
  </section>
{% endif %}

{{ content }}

