---
layout: base
---
<div id="content" class="span12">
  <div class="module">
    <h2>{{ page.title }}</h2>
    <ul class="unstyled category-listing">
    {% for post in paginator.posts %}
      <li class="post-listing">
        <span class="post-date">{{ post.date | date: "%b %d %Y" }}</span>
        <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>

  {% if paginator.next_page or paginator.previous_page %}
    {% include paginator.html %}
  {% endif %}
</div>
