<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="65eWEmqUlnui7etx-es-wAcD9g0GZ_F7ynOyigE65-0" />
    <title>{{ page.title | default: site.title }} by {{ site.author }}</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>

    <header id="header">
      <h1><a href="/">{{ site.author }}</a></h1>
      <p>{{ site.description }}</p>
    </header>

    <section id="content">
      {{ content }}
    </section>

    {% include footer.html %}

  </body>
</html>
